#exclude csv output files
*.csv
*ipynb*
Clustering_Algorithms/k-Means/Debug/*
Clustering_Algorithms/Debug/*
Clustering_Algorithms/.vs/*
Clustering_Algorithms/ClusteringAlgorithms.sln
Clustering_Algorithms/k-Means/k-Means.vcx*
Clustering_Algorithms/BIRCH/BIRCH.vcx*
Clustering_Algorithms/k-Means/x64/*
Clustering_Algorithms/x64/*
