#exclude csv output files
*.csv
*ipynb*
Clustering_Algorithms/*
.vs/*
Clustering_clion/BIRCH/.idea/*
Clustering_clion/BIRCH/cmake-build-debug/*
Clustering_clion/BIRCH/*.txt
Clustering_clion/k-Means/.idea/*
Clustering_clion/k-Means/cmake-build-debug/*
Clustering_clion/k-Means/*.txt
